@model DarkSky.Models.Weather
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARhB170H1_IihPz-E4A-7fIJ8Hpatt5gg&callback=initMap">
</script>
<script src="~/js/index.js"></script>
<style>
    #map {
        height: 400px;
        width: 600px;
    }
</style>
<body>
    <h2>Temperature</h2>

    <label>Here's the Temperature</label>
    @Html.DisplayFor(m => Model.Temp)
    <br />
    @Html.DisplayFor(m => Model.Summary)
    <form id="locationSubmit" method="post">
        <input type="text" name="mapLocation" id="mapLocation" />
        <button type="submit">Get Weather</button>
    </form>

 
    <div id="map"></div>

</body>